<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Please Sign In</h1>
    <div class="card">
      <h3 class="card-header text-white bg-info">You need sign in to make chat</h3>
      <div class="card-body">
        <p class="card-text">You can choose social login below</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/auth/login/facebook">Facebook</a>
        </li>
        <li class="list-group-item">
          <a href="/auth/login/github">GirHub</a>
        </li>
        <li class="list-group-item">
          <a href="/auth/login/google">Google</a>
        </li>
      </ul>
    </div>
  </div>
</body>

</html>
